body {
	font-family: 'Open Sans', sans-serif;
}

h2{
	margin: 0 0 20px;
}
/* custom nav css */
.nav-wrap {
	border-bottom: 2px solid #ff9376;
	height: 90px;	
}

nav ul { 
    height: 90px; 
}

nav li {
	display: inline;
}

nav a, nav li a {
	text-align: center;  
    text-decoration: none;  
    line-height: 90px;
}

nav li a {
	padding: 20px;
	color: #000;
}

nav li a:hover {
	text-decoration: none;
	color: #ff9376;
}

nav li a.active {
	text-decoration: none;
	color: #ff9376;
}

nav a#pull {  
    display: none;  
}     
/* home css */
#cta {
	background-color: #6eb6a1;
	height: 400px;
	padding: 50px 0;
	color: #FFF;
}

#cta-left {
	font-size: 16px;
	width: 400px;
	margin-left: 100px;
}

#cta-left p span {
	font-family: 'Open Sans Condensed';
	font-size: 55px;
	font-weight: 700;
	display: block;
	line-height: 1.1;
	margin-bottom: 20px;
}

#cta-right {
	margin-top: 50px;
	margin-left: 50px;
}

#cta-right p {
	color: #FFF;
	font-size: 18px
}

.btn-cta {
	display: inline-block;
	width: 100px;
	height:40px;
    background-color: #ff9376;
    color: #FFF;
    text-align: center;
}

a.btn-cta {
	text-decoration: none;
	line-height: 40px;
}

a.btn-cta:hover {
	color: #FFF;
	
    background: -webkit-linear-gradient(#ffb19c, #ff9376);
	background: -o-linear-gradient(#ffb19c, #ff9376);
	background: -moz-linear-gradient(#ffb19c, #ff9376);
	background: linear-gradient(#ffb19c, #ff9376);
}

#functions {
	height: 400px;
	padding: 50px 0;
}

.funct-wrap {
	width: 360px;
	min-height: 200px;
	margin-right: 20px;
	background-color: #edffeb;
	padding: 15px;
}

#functions section.funct-wrap:last-child {
	margin-right: 0;
}

.funct-ico {
	
}

.funct-img {
	width: 50px;
	height: 50px;
}

.funct-text {
	margin-left: 70px;
}

.funct-text h3 {
	font-weight: 600;
}

div.funct-text p {
	font-size: 16px;
	line-height: 23px;
}

footer {
	border-top: 2px solid #ff9376;
	height: 70px;
	bottom: 0;
}

footer p {
	text-align: center;
	line-height: 70px;
}

/* login/register css */
.content-wrap {
	padding: 50px 0;
}

.form-wrap {
	width: 500px;
}

form p {
	padding: 5px;
}

textarea {
	resize: none;
}

.btn-hosp {
	width: 100%;
	padding: 7px 25px; 
	background: #ff9376;
	color: #FFF; 
	border: 0 none;
}

.btn-hosp-lil {
	width: 100px;
	padding: 7px 25px; 
	background: #ff9376;
	color: #FFF; 
	border: 0 none;
}

.btn-hosp:hover, .btn-hosp-lil:hover {
	background: -webkit-linear-gradient(#ffb19c, #ff9376);
	background: -o-linear-gradient(#ffb19c, #ff9376);
	background: -moz-linear-gradient(#ffb19c, #ff9376);
	background: linear-gradient(#ffb19c, #ff9376);
}

a.under {
	display: block;
	margin-top: 20px;
}

/* mood css */
.highlight {
	color: #6eb6a1;
}

article.comment {
	width: 500px;
	padding: 7px 15px;
	margin: 15px 0;
	background-color: #edffeb;
	border-bottom: 2px solid #ff9376;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	nav.nav-wrap {   
        height: auto;  
    }  
    nav ul {  
        width: 100%;  
        display: block;  
        height: auto;  
    }  
    nav li {  
        width: 50%;  
        float: left;  
        position: relative;  
    }  
    nav li  {  
        border-bottom: 1px solid #6eb6a1;  
        border-right: 1px solid #6eb6a1;
    }  
    nav a {  
        text-align: left;  
        width: 100%;  
        text-indent: 25px;  
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.navbar-toggle {
		border: 2px solid #ff9376;
	}
	.icon-bar{
		background-color: #ff9376;
	}

	nav ul {
		display: block;
		padding: 0;
	}

	nav li {
		display: block;
		text-align: center;
	}

	#cta {
		height: auto;
	}

	#cta-left {
		margin-left: 0px;
		width: auto;
	}

	#cta-right {
		margin-left: 0px;
		width: auto;
	}

	#functions {
		height: auto;
	}

	.funct-wrap {
		margin: 0 0 20px 0;
		width: auto;
	}

	.form-wrap {
		width: auto;
		padding: 15px;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	
}

